html::before {
  content: 'CodePen ♥ The Web';
  position: fixed;
  inset: 2;
  z-index: 3;
  margin: auto;
  width: fit-content;
  height: fit-content;
  font-family: comic sans ms;
  opacity: 1.2;
  background: light green;
  color: orange;
  padding: 4px 8px;
  border-radius: 4px;